{% extends  'base.html' %}

{% block content %}
        {% csrf_token %}
        {% include "form_errors.html" %}
        <!-- writting title -->
        <div class="form-group">
            <label for="id_subject"><b> 제목 </b> : </label>
            <a>{{ topic.subject }}</a>
        </div>

        <div class="form-group">
            <lable for="id_message"><b> 내용 </b> : </lable>
            <a>{{ topic.message }}</a>
        </div>

        <div class="form-group">
            <lable for="id_message"><b> 최종수정일 </b> : </lable>
            <a>{{ topic.last_updated }}</a>
        </div>

        <h5>{{ topic.answer_set.count }}개의 답변이 있습니다.</h5>
        <div>
            <ul>
            {% for answer in topic.answer_set.all %}
                <li>{{ answer.content }}</li>
            {% endfor %}
            </ul>
        </div>

        <form action="{% url 'answer_create' topic_id=topic.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" id="content" rows="15"></textarea>
        {% if user.is_authenticated %}
                <button type="submit" class="btn btn-success">댓글</button>
        {%endif%}
        </form>



{% endblock %}