<!-- password_check.html -->

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script>
        // 추가: 비밀번호 확인 버튼 클릭 시, 입력한 비밀번호를 hidden input에 설정하고 폼을 전송
        function submitForm() {
            var enteredPassword = document.getElementById('entered_password').value;
            // hidden input의 값을 설정
            document.getElementById('entered_password_hidden').value = enteredPassword;
            // 폼을 전송
            document.forms[0].submit();
        }
    </script>
    <title>비밀번호 확인 페이지</title>
</head>

<body>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3><strong>비밀번호 확인</strong></h3>
                <form action="/password_check/{{ id }}" method="POST" onsubmit="submitForm(); return false;">
                    <!-- onsubmit 이벤트 핸들러를 이용하여 JavaScript 함수 호출 -->
                    <div class="form-group">
                        <label for="password">비밀번호 입력:</label>
                        <input type="password" class="form-control" id="entered_password" name="entered_password" required>
                        <!-- 추가: hidden input 추가 -->
                        <input type="hidden" id="entered_password_hidden" name="entered_password_hidden">
                    </div>
                    <button type="submit" class="btn btn-primary">비밀번호 확인</button>
                </form>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="card-footer">
                <a href="/post" class="card-link">목록으로</a>
            <div>
        </div>
    </div>
</body>

</html>
